.todo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1px 0px;
  align-items: center;
  padding: 2px 5px;
  border-bottom: 1px solid #000;

}

.content {
  width: 100%;
  height: 400px;
  margin-top: 40px;
  overflow-y: auto;
  box-shadow: inset 0px 0px 5px rgb(0, 0, 0);
  
}

.content::-webkit-scrollbar {
  width: 0;
}

.todo__btns > button, input {
  margin: 0px 0px 0px 10px;
  
}

.todo__text {
  padding-left: 10px;
  max-width: 17em;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.changeTodo {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.currentText__background {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(63, 43, 43, 0.5);
}

.changeTodo__content {
  width: 400px;
  height: 300px;
  background-color:  rgb(46, 58, 69);
  border-radius: 20px;
  text-align: center;
  border: 1px solid rgb(145, 143, 143);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.changeTodo__content > button {
  max-width: 80px;
  margin-top: 10px;
}

.changeTodo__content > input {
  width: 300px;
  height: 30px;
  padding: 10px;
}

.active {
  background: #4d7443;
}


.todo__btns {
  display: flex;
  align-items: center;
}